* {
	box-sizing: border-box;
	margin: 0;
	font-family: monospace;
}

body {
	background: #AA8B56;
}

#box_game {
	height: 100vmin;
	width: 100vmin;
	/*background: red;*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
}

#game {
	height: 100%;
	width: 100%;
	/*background: red;*/
	left: 0;
	top: 0;
	position: absolute;
}

.tinybox {
	position: absolute;
	border: 1px solid #000;
}

.ball {
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 80%;
}

.b {
	background: #111;
}

.w {
	background: #eee;
}

.legal_now {
	background-color: #777;
}